mixin hashtag(hashtag)
    if hashtag === "전체"
        a(href=`/` name="전체").hashtag#hashHome=hashtag.replace("#","")
    else 
        a(href=`/${hashtag.replace("#","")}` name=hashtag.replace("#","")).hashtag=hashtag.replace("#","")
