.video__data {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
  .video__data-hashtag{
    display: flex;
    color: #4c43ea;
    font-size: 14px;
  }
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  
  .video__meta-container{
    display: flex;
  }

  .video__views,
  .video__createdAt {
    font-size: 12px;
  }

  .video__createdAt {
    margin-left: 10px;
  }


  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;

    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}


