extends layout.pug
include mixins/video
include mixins/hashtag

block content
    div#hashtagGrid.hashtag-grid
        each hashtag in hashtags
            +hashtag(hashtag)
    div.video-grid
        each video in searchVideos
            +video(video)
        else
            span.empty__message No videos found