extends layout.pug
include mixins/video
include mixins/hashtag

block content
    form(method="GET").search__form-home
        input(placeholder="Search by title",name="keyword", type="text")
        button
            i.fas.fa-search
    div#hashtagGrid.hashtag-grid
        each hashtag in hashtags
            +hashtag(hashtag)
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found