footer 
    span &copy; #{new Date().getFullYear()} Tinubee-Youtube-clone
    i.fas.fa-envelope  
        span email: rlagud2005@naver.com
    i.fab.fa-github-alt 
        a(href="https://github.com/tinubee")
            span github: https://github.com/tinubee