div.sidebar
    ul.nav
      li
        a(href="/") 
            i.fas.fa-home  홈
      li
        a(href="/search") 
            i.fas.fa-search  탐색
      li
        a(href="/") 
            i.fas.fa-heart  구독
      li
        a(href="/") 
            i.fas.fa-image  사진
      li
        a(href=`/users/${user._id}`) 
            i.fas.fa-video  내 동영상
      li
        a(href="/") 
            i.fas.fa-thumbs-up  좋아요
