div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  깃허브 로그인 &rarr;
    a(href="/users/kakao/start").kakaologin__btn.social__btn--kakao
        i.fas.fa-comment
        |  카카오 로그인 &rarr;